@charset "UTF-8";

/*  HTML É ID = EM CSS É #
    HTML É CLASS = CSS É .  */
body {
    background-color: #E8FCCF;
    font-family: Arial, Helvetica, sans-serif;
}

h1#principal {
    text-align: center;
    background-color: #134611;
    color: white;
}

h1 {
    color: #134611;
}

h2 {
    color: #3E8914;
}

.basico {
    color: #134611;
}

.intermediario {
    color: #464511;
}

.avancado {
    color: #461111;
}